env:
  GCS_BUCKET: ${{ secrets.GCS_CFB_PBP }}

steps:
- name: Checkout
  uses: actions/checkout@v2
  with:
    repository:  sportsdataverse/cfbfastR-data


- name: Setup - gcloud / gsutil
  uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
  with:
    service_account_key: ${{ secrets.GCS_SA_KEY }}
    project_id: ${{ secrets.GCS_PROJECT }}
    export_default_credentials: true

- name: Deploy
  run: |-
    gsutil -m rsync -R ./pbp/parquet gs://$GCS_BUCKET
